header{
    padding: 1rem 0 1rem 0;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    right: 0;
    background-color: #5fc0cd;
    height:2rem;
    color:white;
    text-align: center;
    font-size: 1.5rem;
    overflow-x: hidden;
}
.footer{
    width:100%;
    position: fixed;
    padding: 1rem 0 1rem 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2.1rem;
    overflow-x: hidden;
    display: flex;
    background-color:white;
}
.btm{
    width:50%;
    color:#5fc0cd;
    font-size: 1.5rem;
    background-color: white;
    box-shadow: inset 0 0 0 2px #5fc0cd;
    outline: none;
    border:none;
    margin-right:0.5rem;
    margin-left: 0.5rem;
    border-radius: 5px;
    flex: 1;
    cursor:pointer;
}
.btc{
    width:50%;
    color:white;
    font-size: 1.5rem;
    background-color: #5fc0cd;
    outline: none;
    border:none;
    border-radius: 5px;
    margin-right: 0.5rem;
    flex: 1;
    cursor: pointer;
}
body{
    margin: 0;
    padding:0;
}
main{
    width:100%;
    position: absolute;
    top:4rem;
    left:0;
    right: 0;
    bottom: 4rem;
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
.content{
    width:100%;
    height:auto;
}
.mainimg{
    width:100%;
    padding-top: 10.25rem;
    background-image: url(/../Page/main.png);
    background-repeat: no-repeat;
}
.skill{
    width:100%;
    height: 2.5rem;
    margin: 1rem 0 0rem 0;
    padding-left: 0.5rem;
    line-height: 2rem;
    border-bottom:1px solid #ccc;
}
.span{
    font-size: 1rem;
    border-left:3px solid #5fc0cd;
    padding-left: 0.5rem;
}
.a{
    width:2rem;
    padding-left: 1rem;
    font-size: 1rem;
    background-image: url(/../Page/start.png);
    background-repeat: no-repeat;
    line-height: 1.25rem;
    margin-right: 0;
    float: left;
}
.b{
    width:3rem;
    padding-left: 1rem;
    font-size: 1rem;
    background-image: url(/../Page/start.png);
    background-repeat: no-repeat;
    line-height: 1.25rem;
    float: left;
    margin-left: 0.5rem;
}
.big{

    height: 1.25rem;
    border-bottom: 1px solid #cccccc;
    margin-left: 1rem;
    padding: 1rem 0 1rem 0;
    margin-right: 1rem;
}
.age{
    position: relative;
    border-bottom: 1px solid #cccccc;
    margin-left: 1rem;
    padding: 1rem 0.5rem 1rem 0.5rem;
    overflow: auto;
    margin-right: 1rem;
}
.age_a{
    font-size: 1rem;
    color:#cccccc;
    width:4rem;
    padding-left: 1rem;
    position: absolute;
    top:30%;
    border-right:1px solid #cccccc;
    padding-right: 1rem;
}
.age_b{
    font-size: 1rem;

    padding-left: 7rem;
}
.worktime{
    width:100%;
    height:3rem;
    border-bottom: 1px solid #cccccc;
    margin-left: 1rem;
}


.serverprice{
    font-size: 1rem;
    width:5rem;
    padding-left: 7rem;
    color:red;
}
.p{
    margin:0;
}

